<div class="container"> 
    <form #reactiveDemo="ngForm">
       <div class="form-group">
          <label>
              Name
          </label>
          <input type="text" class="form-control">
       </div>
       <div class="form-group">
        <label>
            Age
        </label>
        <input type="text" class="form-control">
     </div>
     <div class="form-group">
        <label>
            Email
        </label>
        <input type="text" class="form-control">
     </div>
    </form>
</div>
